
<style>
	#login{

	width:250px;
	height:100px;
	margin:20px auto;
	}
	#login label{
	display:inline-block;
	width:85px;
	}

</style>

<div id="login">
	{% if errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	
	<form method="post" action="/login/{{parms}}">
		{% csrf_token %}
		
		<label for="username">Username</label> <input type=text id="username" name="username"/>
		<label for="password">Password</label> <input type=password id="password" name="password"/>
		<br/>
		
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>